@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@theme {
  --font-receipt: "Space Mono", monospace;
}

body {
  background-color: #e4e4e7;
  color: #18181b;
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 4px;
}

@media print {
  body {
    background: #fff !important;
  }
  .no-print {
    display: none !important;
  }
}
